.nav-li {
    margin-top: -50px;
    list-style-type: none;
    margin-right: 15px;
}

.nav-li li {
    float: left;
}

.nav-li a {
    display: block;
    color: white!important;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 32px;
    font-size: 15px;
}

.navbar {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.0);
    height: 90px;
}

.navbar-brand {
    padding: 0;
    margin-top: 65px;
}

.inner-self {
    background-image: url('header-background.png');
    background-repeat: no-repeat;
    background-position: -10px 0px 10px;
    background-size: 100%;
}

.header-image {
    height: 70px;
    margin-left: 40px;
}

.navbar-header {
    margin-left: 50px!important;
}

.below-nav-body {
    margin-top: 170px;
    margin-left: 90px;
}

.blue-head {
    font-size: 95px;
    text-transform: uppercase;
    font-weight: bold;
    color: #060629;
}

.white-head {
    padding: 0;
    margin-top: -20px;
    font-size: 95px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.lorem {
    color: white;
    font-size: 20px;
    margin-top: 36px;
    margin-bottom: 60px;
}
.request-quote-heading {
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
}
.white {
    background-color: white;
    border-radius: 5px;
}
.form-group {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
}
.white-form {
    margin-top: 10px;
}
.checkbox label {
    font-size: 15px;
}
.form-control {
    padding-top: 25px;
    padding-bottom: 25px;
}