.nav-li {
    margin-top: -50px;
    list-style-type: none;
    margin-right: 15px;
}

.nav-li li {
    float: left;
}

.nav-li a {
    display: block;
    color: white!important;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 32px;
    font-size: 15px;
}

.navbar {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.0);
    height: 90px;
}

.navbar-brand {
    padding: 0;
    margin-top: 65px;
}

.inner-self {
    background-image: url('header-background.png');
    background-repeat: no-repeat;
    background-position: -10px 0px 10px;
    background-size: 100%;
}

.header-image {
    height: 70px;
    margin-left: 40px;
}

.navbar-header {
    margin-left: 50px!important;
}

.below-nav-body {
    margin-top: 170px;
    margin-left: 90px;
}

.blue-head {
    font-size: 95px;
    text-transform: uppercase;
    font-weight: bold;
    color: #060629;
}

.white-head {
    padding: 0;
    margin-top: -20px;
    font-size: 95px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.lorem {
    color: white;
    font-size: 20px;
    margin-top: 36px;
    margin-bottom: 80px;
}

.request-quote-heading {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 5px;
}

.white {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 35px 90px 12px;
}

.form-group {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}

.white-form {
    margin-top: -420px;
    position: relative;
    margin-right: 10%;
    width: 33%;
}

.checkbox label {
    font-size: 18px;
}

.form-control {
    background-color: #F0EBEB;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.btn-crimson {
    background-color: #C40202;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 45px;
}

.btn-crimson:hover {
    color: white;
}
.checkbox-form {
    margin-top: -5px;
}
.red{
    color: red;
}
.blue {
    color: #060629;
}
#our {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
}
#services {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
}
#our-services {
    margin-top: 40px;
}
.polaroid {
    margin-top: 80px;
    float: left;
}
.polaroid img {
    height: 120px;
    display: block;
    margin-left: 30px;
}
.polaroid .container p {
    margin-top: 35px;
    padding-left: 10px;
    padding-right: 60px;
    font-weight: bold;
    font-size: 16px;
}
.polaroid .container p span {
    display: block;
}
.first-line {
    padding-left: 10px;
}